@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-system: theme('fontFamily.sans');
  --font-body: theme('fontFamily.mono');
  --font-brand: theme('fontFamily.sans');
}

body {
  @apply font-mono;
}